.skillCard{
    border: solid #1f2833;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0000004d;
    padding: 20px;
    text-align: center;
    
    

}

div{
    display: block;
    unicode-bidi: isolate;
}